<h1 mat-dialog-title>Add a new broker</h1>
<div mat-dialog-content>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>First name</mat-label>
      <input matInput placeholder="Ex. Arthur" [(ngModel)]="user.firstName" required>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Last name</mat-label>
      <input matInput placeholder="Ex. Dent" [(ngModel)]="user.lastName" required>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Ex. FooBarBaz" [(ngModel)]="user.username" required>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Ex. rq@er!732" [(ngModel)]="user.password" required>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Budget</mat-label>
      <input type="number" matInput placeholder="Ex. 4200" [(ngModel)]="user.budget" required>
    </mat-form-field>
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">ОК</button>
  <button mat-button [mat-dialog-close]="false">Отмена</button>
</div>

